*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bg-color: #070a17;
  --main-gradient: linear-gradient(-37deg, #cf56c9, #695af7);
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--bg-color);
  color: #fff;
}
